@{
    ViewData["Title"] = "Főoldal";
}

<div>
    <h1 class="display-4">Neptun</h1>
    <br />
    <br />

    <h3>Elérhető funkciók:</h3>
    <ul>
        <li>Hallgatók - listázza a hallgatókat és jelentkezéseiket.</li>
        <li>Tantárgyak - Listázza az elérhető tantárgyakat.</li>
        <li>Első jelentkezések - reportot készít az első jelentkezésekről.</li>
        <li>Kreditek - reportot készít eddig melyik hallgató, hány kreditet ért el.</li>
        <li>Jelentkezések - melyik tantárgyra ki jelentkezett fel és milyen jegyet kapott eddig.</li>
        <li>Jelentkezések Datatables - hasonló mint a jelentkezések menüpont csak js-el.</li>
    </ul>

    <div class="page-background">
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
        <br /><br />
    </div>
</div>
