@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Service Shop</h1>
    <br />
    <br />

    <h3>Available functions:</h3>
    
    <ul class="navbar-nav flex-grow-1">
        <li>Addresses - Lists availabe addresses.</li>
        <li>Clients - Lists the registered clients.</li>
        <li>Services - List the made and the reserved service histories.</li>
        <li>Vehicles - Lists the registered cars.</li>
        <li>Complex view - Lists the most important data in one table.</li>
        <li>Not done services - Lists the not done services with the clients contacts.</li>
    </ul>

    <img src="Images/repair.jpg" alt="Picture not found :(" height="300" width="400" position=center>

</div>
